@use "../../presets" as *;
@use "../../mixins" as *;
.header {
  min-height: 100vh;

  background-color: $color-white;
}
.header-content {
  display: grid;

  padding-top: 220px;
  padding-bottom: 170px;

  grid-template-areas: "ttl img" "ds img" "act img" "nt img";
  @include xl-min {
    grid-template-columns: 550px 1fr;
  }
  @include xl-lg {
    grid-template-columns: 50% 1fr;
  }
  @include lg {
    grid-template-areas: "ttl" "ds" "img" "act" "nt";
    grid-template-columns: 1fr;
    padding-top: 150px;
    padding-bottom: 80px;
  }
  @include md {
    padding-top: 300px;
  }
  row-gap: $gap;
  &__title {
    margin: 0;

    color: $color-black;

    grid-area: ttl;
    @include xl-min {
      font-size: 65px;
      line-height: 70px;
    }
  }
  &__description {
    padding-bottom: 35px;

    color: $color-black;

    line-height: 35px;

    grid-area: ds;
    @include xl-min {
      padding-right: 85px;

      font-size: 25px;
    }
    @include xl {
      font-size: 20px;
    }
    @include lg-min {
      padding-right: 70px;
    }
    @include lg {
      text-align: center;
    }
  }
  &__actions {
    display: flex;

    margin-bottom: 5px;

    gap: $gap-sm;
    grid-area: act;
    @include lg {
      justify-content: center;
    }
  }
  &____btn {
    min-width: 160px;
    min-height: 60px;

    @include sm-min {
      min-width: 160px;
    }
    @include sm {
      min-width: 120px;
    }
  }
  &__note {
    color: $color-black;

    line-height: 25px;

    grid-area: nt;
    @include lg {
      text-align: center;
    }
  }
  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: img;
  }
  &__image {
    @include lg-min {
      width: 100%;
    }
    @include lg-md {
      width: 50%;
    }
    @include md {
      width: 70%;
    }
  }
}
