.header {
  background-color: $color-white;
  min-height: 100vh;
}
.header-content {
  display: grid;
  grid-template-areas: "ttl img" "ds img" "act img" "nt img";
  row-gap: $gap;
  padding-top: 80px;
  padding-bottom: 80px;
  @include xl-min {
    grid-template-columns: 550px 1fr;
  }
  @include xl-lg {
    grid-template-columns: 50% 1fr;
  }
  @include lg {
    grid-template-columns: 1fr;
    grid-template-areas: "ttl" "ds" "img" "act" "nt";
  }
  &__title {
    grid-area: ttl;
    font-weight: 600;
    margin: 0;
    color: $color-black;
    @include xl-min {
      font-size: 65px;
      line-height: 70px;
    }
  }
  &__description {
    grid-area: ds;
    line-height: 35px;

    padding-bottom: 35px;
    color: $color-black;
    @include xl-min {
      font-size: 25px;
      padding-right: 85px;
    }
    @include xl {
      font-size: 20px;
    }
    @include lg-min {
      padding-right: 70px;
    }
    @include lg {
      text-align: center;
    }
  }
  &__actions {
    grid-area: act;
    display: flex;
    gap: $gap-sm;
    margin-bottom: 5px;
    @include lg {
      justify-content: center;
    }
  }
  &____btn {
    min-height: 60px;
    min-width: 160px;
    @include sm-min {
      min-width: 160px;
    }
    @include sm {
      min-width: 120px;
    }
  }
  &__note {
    grid-area: nt;
    line-height: 25px;
    color: $color-black;
    @include lg {
      text-align: center;
    }
  }
  &__picture {
    grid-area: img;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__image {
    @include lg-min {
      width: 100%;
    }
    @include lg-md {
      width: 50%;
    }
    @include md {
      width: 70%;
    }
  }
}
