.container {
  max-width: $xl;
  padding-left: $gap;
  padding-right: $gap;
  margin: 0 auto;
}
.btn {
  display: block;
  padding: 1em;
  min-width: 120px;

  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
  font-weight: 600;
  @include lg-min{
    min-height: 45px;
  }
  @include lg {
    min-height: 45px;
    padding: 0.5em 1em;
  }
}
.btn--light {
  background-color: $color-white;
  border-color: rgba($color-black, 0.5);
}
.btn--accent {
  background-color: $color-accent;
  border-color: $color-accent;
  color: $color-white;
}
